{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block start %}
<div class="container login-container">
    <div class="row" style="height: 15vh;"></div>
    <div class="row login-row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 login">
            <img src="{% static 'img/blog-assests/login-img.svg' %}" alt="login-img">
        </div>
        <div class="col-lg-4"></div>
    </div>
    <form id="loginForm">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input id="username" name="username" type="text" placeholder="Username" required>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 password">
                <input id="password" name="password" type="password" placeholder="Password" required>
                <span id="eyeIcon" onclick="togglePassword()">
                    <i class="bi bi-eye-slash toggle"></i>
                </span>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 btn-base btn-login">
                <button class="loginBtn" type="submit">LOGIN <i class="bi bi-box-arrow-in-right"></i></button>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </form>
    
    <div class="row" style="height: 25vh;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-md-12 col-12">
            <div class="bottom-login">
                <ul>
                    <li><a href="{% url 'blogs:reset_password' %}">Forgot Password?</a></li>
                    <li><a href="{% url 'blogs:signup' %}">New User? Sign-Up Here!</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<script>
    // If you have a logIn() function defined elsewhere to handle form submission,
    // this script will simply prevent the default submission and call logIn().
    document.getElementById('loginForm').addEventListener("submit", function(event) {
        event.preventDefault();
        // Call your login handler function here. For example:
        logIn();
    });

    // Example togglePassword function
    function togglePassword() {
        var passwordField = document.getElementById('password');
        var eyeIcon = document.getElementById('eyeIcon').querySelector('i');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
        }
    }
</script>
{% endblock %}
